# Hugo default output directory
/public

# Resources
# https://discourse.gohugo.io/t/should-i-add-resources-to-gitignore/20064
/resources

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store
